.action{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    transition: 0.3s;
}
.action:hover{
    background-color: #491E82;
    border-radius: 5px;
}
@media (max-width: 625px){
    .header{
        justify-content: center;
        flex-wrap: wrap;
        height: 70px;
    }
    .logo{
        margin-left: 21px;
    }
}