.header{  
    display: flex;
    justify-content: space-between;
    background-color: #1E0C36;
    height: 8vh;
    align-items: center;
    padding: 5px 30px 5px 30px;
}
.logo{
    margin-right: 21px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}